* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
button {
    text-decoration: none;
}
body {
    background-color: skyblue;
}
.container {
    display: flex;
    justify-content: center;
    
    margin-top: 5%;
}
.container > div {
    padding: 2rem 5rem;
    border: none;
    box-shadow: 1px 
    21px 38px 15px rgba(34, 60, 80, 0.3);
    border-radius: 10px;
    background-color: white;
}
.addTodoBlock {
    display: flex;
    gap: 5px;
}
.addTodoBlock input {
    padding: 10px;
    
}
.addTodoBlock button {
    border: none;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    cursor: pointer;
}
.todo-list {
    margin-top: 20px;
}
.todo-list  > div{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.done {
    text-decoration: line-through;
}
.active {
    text-decoration: none;
}
.deleteTodo {
    background-image: url('./trash.svg');
    padding: 13px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    cursor: pointer;
}

@media  (max-width:390px) {
    .addTodoBlock{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 10px;    
    }
    .column{
        display: flex;
        flex-flow: column;
            
    }
    input{
        display: flex; 
        width: 100px;  
        margin-left: 10%;                 
    }
    .todo-list{
        margin-top:10%;
    }
}